{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

<section>
    {% for comp in competencias %}
    <article>
        <h3>{{ comp.nome }}</h3>
        <p>Tipo: {{ comp.tipo }}</p>
        <p>Nível: {{ comp.nivel }}/10</p>
        <p>Experiência: {{ comp.experiencia }}/5</p>

        <h4>Projetos</h4>
        <ul>
            {% for proj in comp.projetos.all %}
                <li>{{ proj.titulo }}</li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
</section>
{% endblock %}