{% extends "portfolio/base.html" %}

{% block content %}
<h2>Formações</h2>
<div class="page-actions">
    <a href="{% url 'formacao_create' %}" class="btn-secondary">Nova Formação</a>
</div>
<section>
    {% for form in formacoes %}
    <article>
        <h3>{{ form.titulo }}</h3>
        <p>Tipo: {{ form.tipo }}</p>
        <p>Instituição: {{ form.instituicao }}</p>
        <p>Aluno: {{ form.aluno }}</p>
        <p>{{ form.descricao }}</p>
        <div class="card-actions">
            <a class="btn-secondary" href="{% url 'formacao_update' form.pk %}">
                ✏️ Editar
            </a>
            <a class="btn-secondary" href="{% url 'formacao_delete' form.pk %}">
                ❌ Apagar
            </a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}