{% extends "portfolio/base.html" %}

{% block content %}
<h2>Professores</h2>

<section>
    {% for professor in professores %}
    <article>
        <header>
            <h3>{{ professor.nome }}</h3>
        </header>

        <h4>Unidades Curriculares</h4>
        <ul>
            {% for uc in professor.unidades_curriculares.all %}
                <li>{{ uc.nome }}</li>
            {% empty %}
                <li>Sem unidades</li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
</section>
{% endblock %}