{% extends "portfolio/base.html" %}

{% block content %}
<h2>Projetos</h2>

<section>
    {% for projeto in projetos %}
    <article>
        <h3>{{ projeto.titulo }}</h3>
        <p>{{ projeto.descricao }}</p>
        <p>Data: {{ projeto.data_de_realizacao }}</p>

        <h4>Tecnologias</h4>
        <ul>
            {% for tech in projeto.tecnologias.all %}
                <li>{{ tech.nome }}</li>
            {% endfor %}
        </ul>

        <a href="{{ projeto.link }}">Ver projeto</a>
    </article>
    {% endfor %}
</section>
{% endblock %}