{% extends "portfolio/base.html" %}

{% block content %}
<h2>Tecnologias</h2>

{% if is_gestor %}
<div class="page-actions">
    <a href="{% url 'tecnologia_create' %}" class="btn-secondary">Nova Tecnologia</a>
</div>
{% endif %}

<section>
    {% for tech in tecnologias %}
    <article>
        <h3>{{ tech.nome }}</h3>
        <p>Tipo: {{ tech.tipo }}</p>
        <p>{{ tech.descricao }}</p>
        <p>Interesse: {{ tech.interesse }}/10</p>
        <a href="{{ tech.site }}">Site</a>

        {% if is_gestor %}
        <div class="card-actions">
            <a class="btn-secondary" href="{% url 'tecnologia_update' tech.pk %}">
                ✏️ Editar
            </a>
            <a class="btn-secondary" href="{% url 'tecnologia_delete' tech.pk %}">
                ❌ Apagar
            </a>
        </div>
        {% endif %}

    </article>
    {% endfor %}
</section>
{% endblock %}