<!-- templates/escola/alunos.html -->    

{% extends "portfolio/base.html" %}
    
{% block content %}
<h2>Tecnologias</h2>

<section>
    {% for professor in professores %}
    <article>
        <header>
            <h3>{{ professor }}</h3>
        </header>

        <section>
            <h4>Cursos</h4>
            <ul>
                {% for curso in professor.cursos.all %}
                    <li>
                        <a href="{% url 'curso' curso.id %}">
                        {{ curso }}
                        </a>
                    </li>
               {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}