{% extends "portfolio/base.html" %}

{% block content %}
<h2>Unidades Curriculares</h2>

<section>
    {% for uc in unidades %}
    <article>
        <h3>{{ uc.nome }}</h3>
        <p>{{ uc.descricao }}</p>
        <p>Créditos: {{ uc.creditos }}</p>

        <h4>Professores</h4>
        <ul>
            {% for prof in uc.professores.all %}
                <li>{{ prof.nome }}</li>
            {% endfor %}
        </ul>

        <h4>Projetos</h4>
        <ul>
            {% for proj in uc.projetos.all %}
                <li>{{ proj.titulo }}</li>
            {% endfor %}
        </ul>
    </article>
    {% endfor %}
</section>
{% endblock %}